@font-face {
  font-family: 'Conv_Banny-Round';
  src: url('../fonts/Banny-Round.eot');
  src: local('☺'), url('../fonts/Banny-Round.woff') format('woff'), url('../fonts/Banny-Round.ttf') format('truetype'), url('../fonts/Banny-Round.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.section-header {
  background: url(../img/header-bg.png) 0 0/cover no-repeat;
}

.container {
  max-width: 1800px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
}

.close-menu {
  display: none;
}

.menu {
  list-style: none;
  margin: 0;
  display: flex;
  padding: 0;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-one {
  padding-left: 80px;
}

.menu-two {
  padding-right: 80px;
}

.menu-item-one,
.menu-item-two {
  width: 53px;
}

.menu-item-one:not(:nth-child(4n)) {
  margin-right: 120px;
}

.menu-item-two:not(:nth-child(1)) {
  margin-left: 120px;
}

.menu-link {
  text-decoration: none;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.menu-link:hover {
  color: rgb(156, 156, 156);
  border-bottom: 1px solid gray;
}

.logo {
  margin-top: 25px;
}

.main-block-header {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-column-gap: 30px;
}

.block-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule-text {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  transform: rotate(-90deg);
  margin: 0;
  margin-right: 130px;
}

.schedule-text-clone {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
  display: none;
}

.schedule-border {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 720px;
  left: 360px;
  top: 114px;
}

.block-main-info {
  max-width: 849px;
  display: block;
}

.description-text {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: 151px;
}

.name-text {
  font-family: "Conv_Banny-Round";
  font-size: 96px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  margin-top: 30px;
}

.border {
  margin: auto;
  width: 60px;
  height: 5.11px;
  background: #E8C300;
  border-radius: 50px;
  margin-top: 20px;
}

.group-buttons {
  margin-top: 31px;
  display: flex;
  justify-content: center;
}

.button-book {
  font-family: Open Sans;
  background: #E8C300;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  width: 200px;
  height: 60px;
  cursor: pointer;
  transition: all 1000ms;
}

.button-book:hover {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  width: 200px;
  height: 60px;
  transition: all 500ms;
}

.button-explore {
  font-family: Open Sans;
  background: none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  width: 200px;
  height: 60px;
  margin-left: 40px;
  cursor: pointer;
  transition: all 1000ms;
}

.button-explore:hover {
  background: #E8C300;
  transition: all 500ms;
  border: none;
  padding: 19px 63px;
}

.block-scrol {
  display: flex;
  justify-content: center;
}

.scrol-border {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 93px;
  cursor: pointer;
}

.scrol-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-button {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 155px;
}

.social-button:hover {
  background: rgb(255, 255, 255, 0.3);
}

.social-border {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 720px;
  right: 360px;
  top: 114px;
}

.main-block {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 80px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.block-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: auto;
}

.name-block {
  font-family: "Conv_Banny-Round";
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.border {
  width: 59.19px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
  margin-bottom: 15px;
}

.text-bold {
  margin: 0;
  font-family: Open Sans;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 15px;
}

.text-normal {
  margin: 0;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}

.block-image {
  display: flex;
  justify-content: center;
}

.block-img {
  filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
}

.team {
  background: url(../img/team-bg.png) 0 0/cover no-repeat;
  height: 675px;
}

.header-block {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.night {
  padding-top: 0;
}

.light {
  color: #fff;
}

.information-input {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-column-gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.input-block {
  border: none;
  background: #E5E5E5;
  border-radius: 5px;
  width: 273px;
  height: 58px;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-size: 13px;
  text-indent: 20px;
  color: rgba(51, 51, 51, 0.5);
  outline: none;
}

.select-block {
  border: none;
  background: #E5E5E5 url(../img/select.png) no-repeat right;
  border-radius: 5px;
  height: 60px;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-size: 13px;
  text-indent: 20px;
  color: rgba(51, 51, 51, 0.7);
  outline: none;
  appearance: none;
  background-position-x: calc(100% - 15px);
}

.button-success {
  width: 564px;
  height: 60px;
  border: none;
  background: #E8C300;
  border-radius: 5px;
  color: #fff;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  transition: all 500ms;
}

.button-success:hover {
  background: rgb(179, 170, 170);
  transition: all 500ms;
}

.booking {
  padding-bottom: 0;
}

.footer-block {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.5);
}

.night-text {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 12px;
  color: rgba(51, 51, 51, 0.8);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background: #FFFFFF;
}

.specialties {
  background: url(../img/specialtys-bggg.png) 0 0/cover no-repeat;
  height: 675px;
}

.menu-block {
  padding-top: 100px;
}

.text-block {
  width: 565px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delicious-menu {
  margin-top: 50px;
}

.delicious {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delicious-item {
  height: 50px;
  display: flex;
  align-items: center;
}

.item-border:not(:last-child) {
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  margin-right: 40px;
}

.delicious-item-clone {
  display: none;
}

.delicious-link {
  text-decoration: none;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  margin-right: 40px;
  transition: all 500ms;
}

.delicious-link:hover {
  border-bottom: 1px solid rgb(179, 170, 170);
  transition: all 500ms;
}

.restaurant-menu {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-column-gap: 0px;
  margin-top: 51px;
  margin-bottom: 100px;
}

.restaurant-menu-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricelist {
  margin-bottom: 20px;
}

.pricelist-text-bold {
  margin: 0;
  font-family: 'Conv_Banny-Round';
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}

.pricelist-text-normal {
  margin: 0;
  font-family: 'Conv_Banny-Round';
  font-size: 12px;
  line-height: 18px;
  color: rgba(51, 51, 51, 0.5);
}

.private-events {
  background: url(../img/specialtys-bggg.png) 0 0/cover no-repeat;
  height: 675px;
}

.events {
  padding-top: 0;
  padding-bottom: 0;
}

.text-event {
  font-family: Open Sans;
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.night-event-text {
  color: rgba(255, 255, 255, 0.7);
}

.photo-galerie {
  max-width: 1920px;
}

.block-galerie {
  display: flex;
}

.image-block-galerie {
  width: 475px;
  height: 475px;
}

.galerie-img {
  width: 25%;
}

.contact-information {
  max-width: 1280px;
  margin: auto;
  margin-top: 50px;
}

.input-contact {
  border: none;
  width: 420px;
  height: 60px;
  padding: 0;
  background: #E5E5E5;
  border-radius: 5px;
  margin-left: 6px;
  font-family: Open Sans;
  font-size: 14px;
  line-height: 19px;
  text-indent: 20px;
  color: rgba(51, 51, 51, 0.5);
}

.input-contact:first-child {
  margin-left: 0;
}

.input-contact:last-child {
  margin-left: 0;
  width: 1280px;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-image {
  max-width: 1280px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 100px;
}

.button-send-message {
  border: none;
  width: 640px;
  height: 60px;
  margin-left: 45px;
  border-radius: 5px;
  background: #E8C300;
  color: #fff;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  transition: all 500ms;
}

.button-send-message:hover {
  background: rgb(179, 170, 170);
  transition: all 500ms;
}

.footer {
  background: rgba(0, 0, 0, 0.9);
  font-family: Open Sans;
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.footer-bold {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.5);
}

@media(max-width: 1600px) {
  .container {
    max-width: 1440px;
  }
  .menu {
    padding-left: 40px;
    padding-right: 40px;
  }
  .menu-item-one:not(:nth-child(4n)) {
    margin-right: 100px;
  }
  .menu-item-two:not(:nth-child(1)) {
    margin-left: 100px;
  }
  .logo-img {
    width: 130px;
    height: 130px;
  }
  .schedule-text {
    margin-right: 50px;
  }
  .schedule-border {
    height: 698px;
    top: 105px;
  }
  .name-text {
    font-size: 86px;
  }
  .social-button {
    margin-left: 100px;
  }
  .social-border {
    height: 698px;
    top: 105px;
  }
  .block-img {
    width: 80%;
  }
  .galerie-img {
    width: 25%;
  }
}

@media(max-width: 1440px) {
  .container {
    max-width: 1350px;
  }
  .name-text {
    font-size: 80px;
  }
  .menu {
    padding-right: 40px;
    padding-left: 40px;
  }
  .menu-item-one:not(:nth-child(4n)) {
    margin-right: 75px;
  }
  .menu-item-two:not(:nth-child(1)) {
    margin-left: 75px;
  }
  .menu-link {
    font-size: 11px;
  }
  .schedule-border {
    top: 105px;
    height: 692px;
    left: 290px;
  }
  .social-border {
    top: 105px;
    height: 692px;
    right: 290px;
  }
  .galerie-img {
    width: 25%;
  }
}

@media(max-width: 1350px) {
  .container {
    max-width: 1220px;
  }
  .schedule-border,
  .social-border {
    top: 90px;
    height: 666px;
  }
  .name-text {
    font-size: 71px;
  }
  .logo-img {
    width: 100px;
    height: 100px;
  }
  .menu-item-one:not(:nth-child(4n)) {
    margin-right: 75px;
  }
  .menu-item-two:not(:nth-child(1)) {
    margin-left: 75px;
  }
  .schedule-text {
    margin-right: 20px;
  }
  .main-block {
    display: block;
  }
  .block-image {
    margin-top: 50px;
  }
  .block-img {
    width: 25%;
  }
  .header-block {
    height: 50px;
  }
  .night {
    padding-bottom: 37px;
  }
  .name-block {
    margin-bottom: 0;
    margin-top: 20px;
  }
  .swiper-slide {
    display: block;
    padding-bottom: 38px;
  }
  .pricelist-text-bold {
    font-size: 15px;
  }
  .pricelist-text-normal {
    font-size: 10px;
  }
  .events {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
  }
  .img-events {
    width: 100%;
  }
  .contact-information {
    max-width: 1000px;
    margin: auto;
  }
  .input-contact {
    width: 320px;
  }
  .input-contact:last-child {
    width: 980px;
  }
  .button-image {
    max-width: 1000px;
  }
  .button-send-message {
    width: 340px;
  }
}

@media(max-width: 1200px) {
  .container {
    max-width: 990px;
  }
  .logo-img {
    width: 80px;
    height: 80px;
  }
  .menu-item-one:not(:nth-child(4n)) {
    margin-right: 50px;
  }
  .menu-item-two:not(:nth-child(1)) {
    margin-left: 50px;
  }
  .main-block-header {
    display: block;
  }
  .block-main-info {
    margin: auto;
  }
  .name-text {
    font-size: 86px;
  }
  .schedule-text-clone {
    display: block;
    margin-top: 30px;
  }
  .social-buttons {
    flex-direction: row;
  }
  .social-button {
    margin: 0;
    margin-top: 35px;
  }
  .social-button:not(:nth-child(2)) {
    margin-left: 80px;
  }
  .block-schedule {
    display: none;
  }
  .social-border {
    display: none;
  }
  .information-input {
    display: block;
  }
  .input-block {
    width: auto;
  }
  .img-events {
    width: 105%;
  }
  .contact-information {
    max-width: 950px;
    margin: auto;
  }
  .input-contact {
    width: 310px;
  }
  .input-contact:last-child {
    width: 950px;
  }
  .button-image {
    max-width: 950px;
  }
  .button-send-message {
    width: 310px;
  }
}

@media(max-width: 990px) {
  .menu-button {
    display: block;
    margin-top: 20px;
    margin-right: 30px;
  }
  .header {
    display: flex;
    justify-content: flex-end;
  }
  .logo {
    display: none;
  }
  .navbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(90 90 90);
    z-index: 9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, opacity 0.2s;
    transform: translateX(100%);
    opacity: 0;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
  }
  .menu-item-one:not(:nth-child(4n)) {
    margin-right: 0px;
  }
  .menu-item-two:not(:nth-child(1)) {
    margin-left: 0px;
  }
  .is-open {
    transform: translateX(0%);
    opacity: 1;
  }
  .menu-item-one,
  .menu-item-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-bottom: 25px;
  }
  .close-menu {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    background: none;
    border: none;
  }
  .menu-link {
    font-size: 24px;
  }
  .description-text {
    margin-top: 70px;
  }
  .restaurant-menu {
    display: block;
  }
  .pricelist-text-bold {
    font-size: 18px;
  }
  .pricelist-text-normal {
    font-size: 12px;
  }
  .item-border:not(:last-child) {
    margin-right: 20px;
  }
  .delicious-menu {
    margin-top: 0;
  }
  .menu-block {
    padding-top: 50px;
  }
  .restaurant-menu {
    margin-bottom: 50px;
  }
  .img-events {
    width: 90%;
  }
  .header-events {
    height: 100px;
  }
  .footer-events {
    margin-top: 84px;
  }
  .contact-information {
    display: flex;
    flex-direction: column;
    max-width: 560px;
  }
  .input-contact {
    width: 560px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .input-contact:last-child {
    width: 560px;
    margin-top: 0;
  }
  .button-image {
    max-width: 560px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }
  .button-img {
    width: 100%;
  }
  .button-send-message {
    margin-top: 10px;
    width: 560px;
    margin-left: 0;
  }
}

@media(max-width: 760px) {
  .name-text {
    font-size: 71px;
  }
  .name-block {
    font-size: 30px;
  }
  .text-bold {
    padding-right: 40px;
    padding-left: 40px;
  }
  .text-normal {
    padding-right: 60px;
    padding-left: 60px;
  }
  .block-img {
    width: 38%;
  }
  .information-block {
    width: 350px;
  }
  .button-success {
    width: 350px;
  }
  .navbar-delicious-menu {
    max-width: 260px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .delicious {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-column-gap: 0px;
  }
  .delicious-item {
    justify-content: flex-start;
  }
  .item-border:not(:last-child) {
    margin-right: 0px;
    border: none;
  }
  .delicious-link {
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  }
  .item-left {
    justify-content: center;
    margin-right: 20px;
  }
  .item-right {
    justify-content: center;
  }
  .delicious-link {
    margin: 0;
  }
  .end-child {
    display: none;
  }
  .delicious-item-clone {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .delicious-item {
    width: 75px;
  }
  .events {
    display: block;
  }
  .header-events {
    height: 50px;
  }
  .img-events {
    width: 36%;
  }
  .footer-events {
    margin: 0;
  }
}

@media(max-width: 600px) {
  .container {
    max-width: 576px;
  }
  .name-text {
    font-size: 56px;
  }
  .block-text {
    width: auto;
  }
  .text-bold {
    font-size: 14px;
  }
  .text-normal {
    font-size: 12px;
  }
  .img-events {
    width: 48%;
  }
  .contact-information {
    display: flex;
    flex-direction: column;
    max-width: 260px;
  }
  .input-contact {
    width: 260px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .input-contact:last-child {
    width: 260px;
    margin-top: 0;
  }
  .button-image {
    max-width: 260px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }
  .button-img {
    width: 100%;
  }
  .button-send-message {
    margin-top: 10px;
    width: 260px;
    margin-left: 0;
  }
}

@media(max-width: 576px) {
  .container {
    max-width: none;
  }
  .name-text {
    font-size: 45px;
  }
  .group-buttons {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .button-explore {
    margin-top: 15px;
    margin-left: 0;
  }
  .social-button:not(:nth-child(2)) {
    margin-left: 40px;
  }
  .main-block {
    padding-top: 4px;
    padding-bottom: 30px;
  }
  .information-block {
    width: 250px;
  }
  .button-success {
    width: 250px;
  }
  .footer-text {
    padding-right: 25px;
    padding-left: 25px;
  }
  .swiper-slide {
    padding-bottom: 30px;
  }
  .name-block {
    font-size: 26px;
  }
  .pricelist-text-bold {
    font-size: 14px;
  }
  .pricelist-text-normal {
    font-size: 10px;
  }
  .text-block {
    width: auto;
  }
  .navbar-delicious-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 360px) {
  .img-events {
    width: 73%;
  }
  .block-galerie {
    display: block;
    height: 1396px;
  }
  .galerie-img {
    width: 100%;
    margin-top: -4px;
  }
}